{% extends 'base.html.twig' %}

{% block body %}

<h1>Coucou lé jen ( oui je sais normalement c'est Hello WCS mais c'est pas hyper original, et moi l'originalité c'est ma passion. Sinon ça va vous ? La famille, toussa toussa, bien ou quoi ?</h1>
{% endblock %}