{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ category.name }}</h1>

    {%  for article in category.articles %}
        <h3>  {{ article.title }} id: {{ article.id }}</h3>
        <p>   {{ article.content }} </p>
    {% endfor %}

{% endblock %}